// Social Media

.social-media {
	  @include clearfix;
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	li {
	  float: left;
	}
	a {
	  display: inline-block;
	  color: $black;
	  &:hover {
	    color: $magenta;
	  }
	  padding: 0.5em 0.7em 0em 0em;
	}
}

.visuallyhidden {
	  @include visuallyhidden;
}