// variables.scss

//Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

//Colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #fc0c1b;

//Category Colors

$blue: #2DF4FB;
$yellow: #D6DB2E;
$green: #26E993;
$pink: #E81693;
$red: #EC0A18;
$purple: #D245EC;
$magenta: #FB39F9;